<span style='font-family:Arial, Helvetica, sans-serif'>
<span style='text-decoration:underline'>BRANCH: <i><%=ENV['STACK_GIT_BRANCH'] %></i></span><br/>
HOSTNAME: <i><%= @hostname %></i><br/><br/>
Here are the environment varables: 
<p style='font-size:11px'>
<% ENV.keys.sort.each do |key| %>
<b><%=key%></b>: <%= ENV[key] %></br>
<% end %>
</p>
</span>